include mixins.pug
-sectionName= 'footer'
-bemBlock = `${sectionName}__`
footer(class=`${sectionName}`)
  -newBlock = 'container'
  div(class=`${bemBlock}` + newBlock + ` ${newBlock}`)
    nav(class=`${bemBlock}nav`)
      ul(class=`${bemBlock}nav-list`)
        -i=0
        -k = 0
        -titles = ['Услуги', 'Проекты', 'Решения', 'Контакты']
        each list in [[{txt: 'Электронная коммерция', href: 'https://new.e-comexpert.ru/'}, {txt: 'Разработка веб-ресурсов для автозапчастей и автотоваров', href: 'https://e-comexpert.ru/'}, {txt: 'Внедрение Битрикс24', href: '#'}, {txt: 'Услуги', href: '#', src: "logo.svg"}], [{txt: 'Интернет-магазин автозапчастей', href: 'https://lp.e-comexpert.ru/'}, {txt: 'Сервис подбора запчастей', href: 'https://wikivin.ru/'}, {txt: 'Интернет-магазин запчастей для спецтехники и грузовиков', href: 'https://spec-parts.tilda.ws/'}, {txt: 'Сайт для СТО', href: 'https://partshop-service.tilda.ws/'}, {txt: 'Карта лояльности для клиентов автомагазинов', href: 'https://autocard.tilda.ws/'}, {txt: 'Интернет-магазин по продаже б/у запчастей', href: 'https://project2567213.tilda.ws/'}], [{txt: 'E-commerce', href: 'https://e-comexpert.ru/projects/'}, {txt: 'B2B-порталы', href: 'https://e-comexpert.ru/projects/'}, {txt: 'Мобильная разработка', href: 'https://e-comexpert.ru/projects/'}, {txt: 'Битрикс24', href: 'https://e-comexpert.ru/solutions/bitrix24'}, {txt: 'Веб-ресурсы для автозапчастей', href: 'https://e-comexpert.ru/'}], [{txt: '+7 495 109-51-20', href: 'tel:+74951095120'}, {txt: 'info@e-comexpert.ru', href: 'mailto:info@e-comexpert.ru'}, {txt: 'г. Москва, ул. Затонная, д.12, корп.2', href: '#'}, {txt: 'Telegram', href: '#'}, {src:'footer/arda.png'}]]
          -ii=0
          -bemBlock = `footer-list__`
          if i === 0
            li(class=`${bemBlock}item`)
              span(class=`${bemBlock}title`)= titles[i]
              ul(class=`${bemBlock}list footer-list`)
                each item in list
                  if item.src !== undefined
                    li(class=`${bemBlock}item item-img`)
                      +img('footer__img', 'logo.svg', 'logo')
                    -k++
                  else
                    li(class=`${bemBlock}item`)
                      a(class=`${bemBlock}link` href=`${item.href}` target="_blank")= item.txt
                  -ii++
          else if i === 3
            li(class=`${bemBlock}item`)
              span(class=`${bemBlock}title`)= titles[i]
              ul(class=`${bemBlock}list footer-list`)
                -bemBlock = `footer-list__`
                each item in list
                  if item.src !== undefined
                    li(class=`${bemBlock}item item-contacts-img`)
                      +img('footer__contacts-img', 'footer/arda.png', 'arda')
                    -k++
                  else
                    li(class=`${bemBlock}item`)
                      a(class=`${bemBlock}link` href=`${item.href}` target="_blank")= item.txt
                  -ii++
          else
            li(class=`${bemBlock}item`)
              span(class=`${bemBlock}title`)= titles[i]
              ul(class=`${bemBlock}list footer-list`)
                each item in list
                  li(class=`${bemBlock}item`)
                    a(class=`${bemBlock}link` href=`${item.href}` target="_blank")= item.txt
                  -ii++
          -i++
    -bemBlock = `${sectionName}__`
    div(class=`${bemBlock}copyright`)
      a(class=`${bemBlock}copyright-item` href="https://e-comexpert.ru/agreement/") Пользовательское соглашение
      a(class=`${bemBlock}copyright-item` href="https://e-comexpert.ru/privacy/") Политика в отношении обработки персональных данных
      div(class=`${bemBlock}copyright-item сopyright`) Copyright © 2024 e-comExpert