mixin img(className,src,alt,tabIndex,loading)
  if alt !== undefined
    img(class=`${className}` src=`assets/img/${src}` alt=`${alt}` title=`${alt}`)
  else
    img(class=`${className}` src=`assets/img/${src}`)